<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Gestor de URLs</title>
</head>

<body>
    <h3>Gestor de URLs</h3>
    <form method="POST" action="{{ url_for('index') }}">
        <input type="text" name="name" required placeholder="nombre">
        <input type="url" name="url" required placeholder="url">
        <button type="submit">Guardar</button>
    </form>

    <h3>URLs guardadas:</h3>
    {% for name, url in links.items() %}
    <a style="display:inline;margin:0px 10px;" href="{{ url }}" target="_blank">{{ name }}</a>
    {% if name not in ['YouTube', 'OneDrive', 'ecuabet', 'mega', 'mega2', 'mega3'] %}
    <!-- Solo mostrar botón de eliminar para URLs guardadas en sesión -->
    <form style="display:inline;" method="POST" action="{{ url_for('delete', name=name) }}">
        <button type="submit">Eliminar</button>
    </form>
    {% endif %}
    {% endfor %}

</body>

</html>